div {
    border: 4px blue solid;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 35rem;
}
.box1 {
    border: 3px solid;
    border-color: orangered;
    background-color: powderblue;
    width: 45%;
}
.box2 p {
    background-color: orange;
    margin-top: 0;
    width: 25rem;
}
p {
    border: 2px solid green;
    margin-left: 1rem;
    margin-right: 1rem;
    
}
h1 {
    margin: 0.2rem;
}
a, strong, em {
    border: 2px solid blue;
}
.box3 {
    background-image: url(https://vetstreet.brightspotcdn.com/dims4/default/354d0cf/2147483647/thumbnail/645x380/quality/90/?url=https%3A%2F%2Fvetstreet-brightspot.s3.amazonaws.com%2Fdc%2Fc4%2F8ccd3a28438d81b2f2f5d8031a05%2Fpug-ap-r82p3q-645.jpg);
    height: 1100px;
    width: 600px;
}